.weather-container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;

    h3 {
        font-size: 1.8rem;
        margin-bottom: 10px;
    }
}

.weather-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.weather-item {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 10px;
}

.forecast-day, forecast-description {
    text-transform: capitalize;
    font-size: 1.5rem;

}


